h1 {
  font-size: 60px;
}
h2 {
  font-size: 40px;
}

.info {
  /* background-color: rgb(182, 25, 36); */
  /* background-color: #820000; */
  /* background-color: #232741; */
  /* background-color: #1d1d1d; */
  min-height: 100vh;
  min-width: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
