.map-container {
  padding-bottom: 56.25%;
  overflow: hidden;
  position: relative;
  height: 99%;
  width: 100%;
}
.map-container iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  border: 20;
}